/*index.html from here*/
.wrapper > *{
    /*border: 2px solid red;*/
    display: block;
    text-align: center;
}

.bob {
    margin: 0 auto;
    height: 460px;
    width: 840px;
}

a {
    text-decoration: none;
}

.bob-list {
    list-style-type: none;
    border: 2px dashed blue;
    width: 800px;
    margin: 0 auto;
    background-color: azure;
    color: blue;
}

.uno, .dos, .tres {
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
}

/*index.html to here*/

/*recipes*/

.burgers > * {
    /*border: 2px solid red;*/
    margin: 5px;
}

.burgerItem {
    padding: 15px;
    width: 1200px;
    font-size: 18px;
    background-color: azure;
    border: 2px dashed blue;
}

.burgerImage {
    height: 640px;
    width: 640px;
}

.itemPic, .burgerItem {
    float: left;
}

button {
    font-size: 24px;
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    background-color: white;
    color: black;
    border: 2px solid green;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: green;
    color: white;
}